.DS_Store
.flaskenv
*.pyc
*.pyo
env/
.env
venv/
.venv/
backup_venv/
.venvs_experiment/
.hostenv
.lintvenv/
.testenv/
testvenv/
.lintenv/
.testvenv/
testvenv/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.idea/
docs/_build/
.vscode
__pycache__/


flask_app_fac.code-workspace
application/views/__pycache__/
*.sqlite
# Coverage reports
htmlcov/
.coverage
contractdb/.coveragerc
contractdb/htmlcov/*
.coverage.*
*,cover
/app/vendor/
#**/migrations/versions
node_modules/
*.AppImage
*.sqlite3
*.ignore
*.ignore*
.ignore/
gpp.txt
*.hide
.user_data/
.env
.saved_content/
*.torrent
.dashboard/
.random_test/